[cms-inline=text],
[cms-inline=editor],
[cms-inline=list],
[cms-inline=text-manual],
.cms-editable-pic-browse-cont {
	border: 1px dashed #555;
	border-radius: 4px;
}

[cms-inline="editor"] p,
[cms-inline="editor"] div {
	border: 1px dashed red;
	border-radius: 4px;
}

.cms-editable-pic-browse-cont {
	position: relative;
}

.cms-editable-pic-browse-btn {
	position: absolute;
	top: calc(50% - 16px);
	right: 10px;
}

#cms_inline_elements_list {
	display: none;
}

div#ok-message-box,
div#error-message-box {
	z-index: 3000;
	display: none;
	height: auto;
	width: auto;
	padding: 15px 30px;
	position: fixed;
	bottom: 40px;
	right: 25px;
	font-size: 1.1em;
	font-weight: bold;
}

#admin_sidebar {
	direction: ltr;
	position: fixed;
	top: calc(50% - 150px);
	left: -160px;
	height: 300px;
	width: 190px;
	border-radius: 0 4px 4px 0;
	display: inline-block;
	background-color: #337AB7;
	background-color: #333;
}

#admin_sidebar .links-cont, #admin_sidebar .header-cont {
	float: left;
	height: 100%;
}

#admin_sidebar .links-cont{
	width: 160px;
	padding-top: 20px;
}

#admin_sidebar .header-cont {
	background-color: #337AB7;
	width: 30px;
	border-radius: 0 4px 4px 0;
}

#admin_sidebar .links-cont li {
	width: 100%;
}

#admin_sidebar .links-cont li a {
	display: inline-block;
	text-decoration: none;
	color: #DDD;
	width: 100%;
	padding: 10px 5px;
	border-radius: 4px;
}

#admin_sidebar .links-cont li a:hover {
	text-decoration: none;
	color: #000032;
	background-color: #DDD;
}

#admin_sidebar .header-cont h5 {
	transform: rotate(-90deg);
	text-align: center;
	font-size: 1.3em;
	color: #DDD;
	margin-top: 150px;
}

#table_manage_main_entry_select {
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 3px 6px;
}

#table_manage_main_entry_select option {
	padding: 3px 6px;
}

#table_manage_modal .table-manage-thumb {
	height: 50px;
	width: 50px;
	margin-right: 20px;
	object-fit: cover;
}

.table-manage-split-header {
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

#table_manage_modal .cms-table {
	border-radius: 4px;
	/*width: 85%;*/
	/*margin: 0 auto;*/
	border-collapse: collapse;
	border: 3px solid black;
	border-style: hidden;
	box-shadow: 0 0 0 1px #DDD;
}

#table_manage_modal .cms-table td {
	vertical-align: middle;
}

#table_manage_modal .btn-xs {
	padding: 3px 5.5px 3.5px 5px;
	font-size: 0.7em;
}

#meta_keywords, #meta_description {
	resize: none;
}

#thumbs_progress {
	width: 350px;
	margin: 0 auto;
	border: 1px solid #BBB;
	
}